<div class="publishers-container">
  <div>
    <button (click)="showAddPublisherForm = !showAddPublisherForm">Add Publisher</button>
  </div>

  <div *ngIf="showAddPublisherForm">
    <form (submit)="addPublisher(publisherName.value); publisherName.value='';">
      <input type="text" #publisherName placeholder="Enter publisher name" required>
      <br>
      <button type="submit">Submit</button>
    </form>
  </div>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <div>
    <ng-container *ngFor="let publisher of data">
      <app-publisher-card [publisher]="publisher" [allPublishers]="data"></app-publisher-card>

      <button (click)="deletePublisher(publisher)">Delete</button>
    </ng-container>
  </div>
</div>
