<div>
  <h1>{{ publisher.publisher }} ({{ publisher.domains.length }})</h1>
  <button (click)="showForm = !showForm">Add Domain</button>
  <hr>
  <div *ngIf="showForm">
    <form [formGroup]="domainForm" (ngSubmit)="addDomain(); showForm = false">
      <div>Domain:</div>
      <input type="text" formControlName="domain" placeholder="Enter Domain name" required>
      <div>Mobile Ads:</div>
      <input type="number" formControlName="mobileAds" placeholder="Enter Mobile Ads" required>
      <div>Desktop Ads:</div>
      <input type="number" formControlName="desktopAds" placeholder="Enter Desktop Ads" required>
      <br>
      <button type="submit" [disabled]="!domainForm.valid">Save</button>
      <button type="button" (click)="showForm = false">Cancel</button>
    </form>
  </div>
  <div class="publisher-card-container">
    <app-domain-card *ngFor="let domain of publisher.domains" [domain]="domain"></app-domain-card>
  </div>
</div>
